-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: cloud_audio_scheduler
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `audio_files`
--

DROP TABLE IF EXISTS `audio_files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audio_files` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `audio_type` enum('PRAYER','FESTIVAL','DAILY','OTHER') NOT NULL,
  `language` varchar(50) NOT NULL,
  `file_url` varchar(500) NOT NULL,
  `file_path` varchar(500) DEFAULT NULL COMMENT 'Local file path for deletion',
  `duration_seconds` int NOT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `audio_files_audio_type` (`audio_type`),
  KEY `audio_files_language` (`language`),
  KEY `audio_files_is_active` (`is_active`),
  KEY `audio_files_deleted_at` (`deleted_at`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audio_files`
--

LOCK TABLES `audio_files` WRITE;
/*!40000 ALTER TABLE `audio_files` DISABLE KEYS */;
/*!40000 ALTER TABLE `audio_files` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `branch_playlists`
--

DROP TABLE IF EXISTS `branch_playlists`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `branch_playlists` (
  `id` int NOT NULL AUTO_INCREMENT,
  `branch_id` int NOT NULL,
  `audio_id` int NOT NULL,
  `order_index` int NOT NULL DEFAULT '0',
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `branch_playlists_branch_id` (`branch_id`),
  KEY `branch_playlists_audio_id` (`audio_id`),
  KEY `branch_playlists_branch_id_order_index` (`branch_id`,`order_index`),
  KEY `branch_playlists_is_active` (`is_active`),
  CONSTRAINT `branch_playlists_ibfk_1` FOREIGN KEY (`branch_id`) REFERENCES `branches` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `branch_playlists_ibfk_2` FOREIGN KEY (`audio_id`) REFERENCES `audio_files` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `branch_playlists`
--

LOCK TABLES `branch_playlists` WRITE;
/*!40000 ALTER TABLE `branch_playlists` DISABLE KEYS */;
INSERT INTO `branch_playlists` VALUES (1,1,1,2,1,'2026-02-27 04:18:01','2026-03-02 07:42:39',NULL),(2,1,2,1,1,'2026-02-27 04:18:09','2026-03-02 07:55:39',NULL),(3,1,5,0,0,'2026-02-27 04:31:43','2026-03-02 07:55:10',NULL),(4,2,5,0,1,'2026-02-28 06:05:53','2026-03-02 11:31:55',NULL),(5,2,2,1,1,'2026-02-28 06:06:06','2026-03-01 04:22:23','2026-03-01 04:22:23'),(6,2,1,1,1,'2026-03-01 04:22:38','2026-03-01 04:22:43','2026-03-01 04:22:43');
/*!40000 ALTER TABLE `branch_playlists` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `branches`
--

DROP TABLE IF EXISTS `branches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `branches` (
  `id` int NOT NULL AUTO_INCREMENT,
  `branch_code` varchar(50) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `city` varchar(100) NOT NULL,
  `state` varchar(100) NOT NULL,
  `region` varchar(100) NOT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `branch_code` (`branch_code`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `branches`
--

LOCK TABLES `branches` WRITE;
/*!40000 ALTER TABLE `branches` DISABLE KEYS */;
INSERT INTO `branches` VALUES (1,'BR-000001','Mumbai Central Store','Mumbai','Maharashtra','West',1,'2026-02-20 11:16:38','2026-02-20 11:16:38',NULL),(2,'BR-000002','Delhi Connaught Place','New Delhi','Delhi','North',1,'2026-02-20 11:16:38','2026-02-20 11:16:38',NULL),(3,'BR-000003','Bangalore MG Road','Bangalore','Karnataka','South',1,'2026-02-20 11:16:38','2026-02-20 11:16:38',NULL);
/*!40000 ALTER TABLE `branches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `device_heartbeats`
--

DROP TABLE IF EXISTS `device_heartbeats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `device_heartbeats` (
  `id` int NOT NULL AUTO_INCREMENT,
  `device_id` int NOT NULL,
  `heartbeat_time` datetime NOT NULL,
  `online` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `device_heartbeats_device_id` (`device_id`),
  KEY `device_heartbeats_heartbeat_time` (`heartbeat_time`),
  KEY `device_heartbeats_online` (`online`),
  CONSTRAINT `device_heartbeats_ibfk_1` FOREIGN KEY (`device_id`) REFERENCES `devices` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `device_heartbeats`
--

LOCK TABLES `device_heartbeats` WRITE;
/*!40000 ALTER TABLE `device_heartbeats` DISABLE KEYS */;
/*!40000 ALTER TABLE `device_heartbeats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `devices`
--

DROP TABLE IF EXISTS `devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `devices` (
  `id` int NOT NULL AUTO_INCREMENT,
  `branch_id` int NOT NULL,
  `current_state` varchar(50) DEFAULT 'IDLE',
  `current_audio` varchar(255) DEFAULT NULL,
  `volume` int DEFAULT '50',
  `device_code` varchar(50) DEFAULT NULL,
  `device_name` varchar(255) DEFAULT NULL,
  `host_name` varchar(255) DEFAULT NULL,
  `device_uuid` varchar(255) DEFAULT NULL,
  `device_fingerprint` varchar(255) DEFAULT NULL,
  `device_token` text,
  `last_seen` datetime DEFAULT NULL,
  `status` enum('ONLINE','OFFLINE','DISABLED','PENDING') DEFAULT 'PENDING',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `device_code` (`device_code`),
  UNIQUE KEY `device_fingerprint` (`device_fingerprint`),
  KEY `devices_branch_id` (`branch_id`),
  CONSTRAINT `devices_ibfk_1` FOREIGN KEY (`branch_id`) REFERENCES `branches` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `devices`
--

LOCK TABLES `devices` WRITE;
/*!40000 ALTER TABLE `devices` DISABLE KEYS */;
/*!40000 ALTER TABLE `devices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `playback_logs`
--

DROP TABLE IF EXISTS `playback_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `playback_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `device_id` int NOT NULL,
  `audio_id` int NOT NULL,
  `played_at` datetime NOT NULL,
  `status` enum('PLAYED','MISSED') NOT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `playback_logs_device_id` (`device_id`),
  KEY `playback_logs_audio_id` (`audio_id`),
  KEY `playback_logs_played_at` (`played_at`),
  KEY `playback_logs_status` (`status`),
  CONSTRAINT `playback_logs_ibfk_1` FOREIGN KEY (`device_id`) REFERENCES `devices` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `playback_logs_ibfk_2` FOREIGN KEY (`audio_id`) REFERENCES `audio_files` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `playback_logs`
--

LOCK TABLES `playback_logs` WRITE;
/*!40000 ALTER TABLE `playback_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `playback_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_targets`
--

DROP TABLE IF EXISTS `schedule_targets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedule_targets` (
  `id` int NOT NULL AUTO_INCREMENT,
  `schedule_id` int NOT NULL,
  `target_type` enum('ALL','REGION','BRANCH') NOT NULL,
  `target_value` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `schedule_targets_schedule_id` (`schedule_id`),
  KEY `schedule_targets_target_type` (`target_type`),
  KEY `schedule_targets_target_value` (`target_value`),
  CONSTRAINT `schedule_targets_ibfk_1` FOREIGN KEY (`schedule_id`) REFERENCES `schedules` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_targets`
--

LOCK TABLES `schedule_targets` WRITE;
/*!40000 ALTER TABLE `schedule_targets` DISABLE KEYS */;
INSERT INTO `schedule_targets` VALUES (6,3,'ALL',NULL),(16,2,'ALL',NULL),(17,1,'ALL',NULL),(18,4,'ALL',NULL);
/*!40000 ALTER TABLE `schedule_targets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedules`
--

DROP TABLE IF EXISTS `schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedules` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(255) DEFAULT 'Schedule',
  `audio_id` int NOT NULL,
  `schedule_mode` enum('DAILY','DATE_RANGE','ONCE') NOT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `play_time` time NOT NULL,
  `play_at` datetime DEFAULT NULL,
  `play_count` int DEFAULT NULL,
  `priority` int NOT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `audio_id` (`audio_id`),
  KEY `schedules_start_date_end_date` (`start_date`,`end_date`),
  KEY `schedules_play_time` (`play_time`),
  KEY `schedules_play_at` (`play_at`),
  CONSTRAINT `schedules_ibfk_1` FOREIGN KEY (`audio_id`) REFERENCES `audio_files` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedules`
--

LOCK TABLES `schedules` WRITE;
/*!40000 ALTER TABLE `schedules` DISABLE KEYS */;
INSERT INTO `schedules` VALUES (1,'Daily Morning Prayer',1,'DAILY',NULL,NULL,'16:10:00',NULL,1,1,1,'2026-02-20 11:16:38','2026-02-28 10:38:22',NULL),(2,'Diwali Festival Promo',2,'DATE_RANGE','2026-10-20','2026-11-05','16:04:00',NULL,1,10,1,'2026-02-20 11:16:38','2026-02-28 10:33:01',NULL),(3,'Test Audio',4,'DAILY',NULL,NULL,'23:42:00',NULL,2,3,1,'2026-02-21 17:21:50','2026-02-21 18:14:05','2026-02-21 18:14:05'),(4,'testing',5,'DAILY',NULL,NULL,'13:40:00',NULL,1,3,1,'2026-02-21 18:16:03','2026-03-02 08:08:42',NULL);
/*!40000 ALTER TABLE `schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('SUPER_ADMIN','STORE_MANAGER') NOT NULL DEFAULT 'STORE_MANAGER',
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  `deleted_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Super Admin','admin@jewellery.com','$2a$10$pKeKGo/a0bUt3Dqh/1K80uMlpuyV9dAucCmLxe2jaSalcXZI6AsCu','SUPER_ADMIN',1,'2026-02-20 11:16:38','2026-02-20 11:16:38',NULL),(2,'Store Manager','manager@jewellery.com','$2a$10$L5VJskchCy/d/q62yvQLkO9QaBWivOe47URzGqrOvqQllqva7U50u','STORE_MANAGER',1,'2026-02-20 11:16:38','2026-02-20 11:16:38',NULL);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-02 20:37:40
